node_modules
*.directory
*.zip
*.zip.sig
build/lib/i18next/
build/lib/otr/
build/lib/strophe.jingle/
bower_components
archives/
.idea**
/css/
dev/
.wti
*~
/tmp/
lib/favico.js/
lib/strophe.bookmarks/
lib/strophe.x/
