node_modules
*.directory
*.zip
*.zip.sig
build/lib/i18next/
build/lib/otr/
build/lib/strophe.jingle/
bower_components
archives/
.idea**
/css/
dev/
.wti
*~
/tmp/
/lib/favico.js/
/lib/strophe.bookmarks/
/lib/strophe.x/
/lib/almond/
/lib/jquery/
/lib/qunit/
/lib/requirejs/
/lib/sinon-qunit/
/lib/sinon/
/lib/strophe.js/
/lib/strophe.vcard/
/lib/emojione/
